package: com.arichornlover.versionspoofer
Name: YTAppVersionSpoofer
Version: 2.0.0
Section: Tweaks
Architecture: iphoneos-arm
Description: An YouTube Tweak that lets you spoof the App Version.
Maintainer: arichornlover
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 15.0)
Recommends: com.arichornlover.lowcontrastmode
